.movies-list-wrapper {
  position: relative;
  width: 100%;
}

.movies-list-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 10px;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-btn {
  position: absolute;
  top: 50%;
  width: 55px;
  height: 100%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  z-index: 100;

  &.left {
    left: 48px;
  }

  &.right {
    right: 0;
  }

  .arrow-icon {
    font-size: 24px;
  }
}
