.main {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .overview-container {
    width: 35%;

    .overview {
      max-height: 300px;
    }
  }
}


