.movie-card-wrapper {
  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }

  .movie-card-img {
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .movie-card-content {
    height: 100%;
    padding: 20px;
  }
}

